<div  class="container-fluid">  
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">  
      <ul class="navbar-nav">  
        <li class="nav-item ">  
          <a routerLink="view-student" class="nav-link" class="btn btn-primary active" role="button" >View All User</a>  
        </li>   
        <li class="nav-item">  
          <a  routerLink="add-student" class="nav-link" class="btn btn-primary active" role="button" >Create Account</a>  
        </li>   
        <li class="nav-item">  
          <a routerLink="user-login" class="nav-link" class="btn btn-primary active" role="button" > User Login</a>  
        </li> 
        <li class="nav-item">  
          <a routerLink="admin-login" class="nav-link" class="btn btn-primary active" role="button" > Admin Login</a>  
        </li>   
        <li class="nav-item">  
          <a routerLink="inside-user" class="nav-link" class="btn btn-primary active" role="button" > User Account</a>  
        </li>     
        <li class="nav-item">  
          <a routerLink="inside-admin" class="nav-link" class="btn btn-primary active" role="button" > Admin Account</a>  
        </li> 
        
      </ul>  
    </nav>     
      <router-outlet></router-outlet>  
  </div>  
  